.loading-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 75% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-code {
    width: 100%;
}